body {
	margin:0;
}
#header{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display:flex;
	position:fixed;
	z-index: 1;
	height:80px;
	width:100%;
	background-color:white;
	border-bottom: 1px solid black;
	align-items: center;
}
#header nav{
	padding-right:40px;
}
.logo{
	display:flex;
	align-items:center;
	padding-left:30px;
	flex-grow:1;
}
.logo span{
	color:mediumaquamarine;
}
.logo img {
	width:70px;
	height:60px;
	margin-right:12px;
}
.nav-bar-item{
	display:inline-block;
	padding: 20px 10px;
}
.nav-bar-item a{
	color:black;
}
#main{
	display:flex;
	padding-top:116px;
	position: relative;
	margin:0 auto 78px auto;
	width:1232px;
}
.column{
	display:flex;
	flex-direction:column;
	margin-right:32px;
}
.image{
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	margin-top:15px;
	height:300px;
	color: white;
	text-align: center;
}
.head-story .image {
	background-image: url("img-story-main.png");
	font-size: 40px;
	text-align: left;
	margin-top: 0;
	width:630px;
}
.backwards.image {
	background-image: url("img-story-2.png");
}
.research.image{
	background-image: url("img-story-3.png");
}
.cats.image{
	background-image: url("img-story-1.png");
}
.column.large {
	width: 630px;
}
.column.large .stories{
	display:flex;
	justify-content: space-between;
}
.story{
	display: flex;
	flex-direction: column;
	width:300px;
}
.large .story .text{
	height:250px;
}
.column.medium {
	width: 300px;
}
.column.small {
	width: 240px;
	display:flex;
	flex-direction: column;
}
.column.small h3{
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	margin-bottom:40px;
}
.bite-column{
	display:flex;
	flex-direction: column;
	margin: 0;
	border-bottom: 1px solid black;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
	padding: 10px 20px;
}
footer{
	display: flex;
	background-color:mediumaquamarine;
	color:white;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:100%;
	height:325px;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
}
#title{
	display:inline-block;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-right:25px;
	border-right: 2px solid white;
}
footer nav{
	display:inline-block;
	padding-left:25px;
}